*{
    box-sizing: border-box;
}

body{
    margin:0px;
    background:rgba(150,150,150,0.35%)
}
video{
    width: 100%;
    height: 100%;
    
}
.content video{
    border-radius: 40px;
}
header{
    color: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: rgba(100, 100, 100, 0.5);
    padding:20px;
    width: 100%;
    height: 75px;
    border-radius: 0px 0px 20px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.first-section{
    color: white;
    height: 100%;
}
.logo{
    color: white;

    margin-left: -25px;
    margin-top: 20px;
    flex: 1.75;
    font-size: 150%;
}
a{
    color: white;
    text-decoration: none;
    font-size: 150%;
}
.header-link-container{
    display: flex;
    gap:1%;
    flex: 2;
    justify-content: center;
}
.header-link{
    background-color: rgba(100, 100, 100, 0.5);
    padding:20px;
    width:20%;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.first-section .content{
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 20px;
    padding: 5%;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    height:70%;
    display: flex;
    gap:+200px;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.first-section h3{
    color: lightgray;
}
.first-section .content video{
    width:fit-content;
    height:75%;
}
.first-section button{
    font-size: 125%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 20px;
    color: white;
    padding: 20px;
    width:25%;
    border: 2px solid white;

}
.second-section{
    background: rgb(40,40,40);
    background: linear-gradient(355deg,  rgba(150,150,150,1) 35%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    padding: 5% 1% 10% 1%;
}
.images{
    display: flex;
    width: 100%;
    gap: 1%;
    justify-content: space-around;
    align-items:stretch;
}
img{
    border-radius: 20px;
}
p{
    text-align: center;
    font-size: 120%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.2);
    width:16%;
    height:100%;
    padding:30px;
    border:2px solid lightgrey;
    border-radius: 20px;
}

.breaker{
    height:100px;
    width:100%;
}
