*{
    box-sizing: border-box;
}

body{
    margin:0px;
}
video{
    margin-top: -75px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(100, 100, 100, 0.50);
}
header{
    position: fixed;
    top: 0;
    background-color: rgba(100, 100, 100, 0.10);
    padding:20px;
    width: 100%;
    height: 75px;
    border-radius: 0px 0px 20px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex: 1.75;
}
a{
    text-decoration: none;
}
.header-link-container{
    display: flex;
    gap:1%;
    flex: 2;
    justify-content: center;
}
.header-link{
    background-color: rgba(100, 100, 100, 0.10);
    padding:22.5px;
    width:20%;
    text-align: center;
    border-radius: 10px;
}

.content{
    background-color: rgba(100, 100, 100, 0.10);
    position: relative;
    top: 0%;
    width:50%;
    height: 50%;
}
