*{
    box-sizing: border-box;
    color: white;
}

body{
    margin:0px;
}
video{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(100, 100, 100, 0.50);
}
.content video{
    border-radius: 40px;
}
header{
    
    position: fixed;
    top: 0;
    background-color: rgba(100, 100, 100, 0.20);
    padding:20px;
    width: 100%;
    height: 75px;
    border-radius: 0px 0px 20px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: -20px;
    margin-top: 10px;
    flex: 1.75;
    font-size: 150%;
}
a{
    text-decoration: none;
    font-size: 150%;
}
.header-link-container{
    display: flex;
    gap:1%;
    flex: 2;
    justify-content: center;
}
.header-link{
    background-color: rgba(100, 100, 100, 0.20);
    padding:20px;
    width:20%;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
}
.first-section .content{
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 20px;
    padding: 5%;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    height:70%;
    display: flex;
    gap:+200px;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.first-section h3{
    color: lightgray;
}
.first-section .content video{
    width:fit-content;
    height:75%;
}
.first-section button{
    font-size: 125%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 20px;
    color: white;
    padding: 20px;
    width:25%;
    border: 2px solid white;

}
